<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
	<!-- JNDI 로 datasource를 받아오는 경우 -->
	<!--  
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="${jdbc.datasource}"/>
    <property name="resourceRef" value="true" />
	</bean>
	-->
	<!-- 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
      <property name="driverClassName" value="org.mariadb.jdbc.Driver" />
      <property name="url" value="${jdbc:mysql://localhost:3306/test?autoReconnect=true}" />
      <property name="username" value="${root}" />
      <property name="password" value="${hidon11}" />
    </bean>
	 -->
	 
	  <!-- enable component scanning (beware that this does not enable mapper scanning!) -->    
    <context:component-scan base-package="com.blue.gis.service" />

    <!-- enable autowire -->
    <context:annotation-config />
    
	 <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="org.mariadb.jdbc.Driver" />
      <property name="url" value="jdbc:mysql://localhost:3306/blue" />
      <property name="username" value="root" />
      <property name="password" value="hidon11" />
     </bean> 
      
    <!--  SqlSessionFactoryBean : SqlSessionTemplate 객체를 얻는다.-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
    	<property name="mapperLocations" value="classpath:com/blue/gis/mapper/*.xml" />
	</bean>
    
	 <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
	   <constructor-arg ref="sqlSessionFactory" />
	 </bean>
	 
	 <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
  		<property name="basePackage" value="com.blue.gis.mapper" />
	</bean>
</beans>